.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  z-index: 1000;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.scrolled {
  background-color: var(--blurFondoHeader);
  backdrop-filter: blur(10px);
  transition: background-color 0.5s ease;
}

.containerHeader {
  gap: 20px;
  align-items: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.highlightable {
  position: relative;
  cursor: pointer;
  transition: text-shadow 0.3s, font-size 0.3s, margin-inline 0.3s,
    color 0.5s ease;
}

.highlightable:hover {
  text-shadow: 0 0 5px rgba(255, 0, 0, 1);
  font-size: 1.2em;
  margin-inline: 12px;
}

.containerLanguaje {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
  margin-inline: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a7a7a7;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #6d6d6d;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #000000;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #a7a7a7;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #a7a7a7;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

.headerNombre {
  color: var(--colorLetras);
  transition: color 0.5s ease;
  margin-left: 10px;
}

/* Desplegable */

.menuContainer {
  margin-right: 10px;
}
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--colorLetras);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out, background 0.5s ease;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-50%);
}

.burger input:checked ~ span:nth-of-type(1) {
  top: 0;
  left: 5px;
  transform: rotate(405deg);
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  top: 28px;
  left: 5px;
  transform: rotate(-405deg);
}

.dropdownMenu {
  position: absolute;
  top: 90px;
  right: 10px;
  background-color: var(--blurFondoHeader);
  backdrop-filter: blur(10px);
  transition: background-color 0.5s ease;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 250px;
}

.dropdownMenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdownMenu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.dropdownItem {
  display: flex;
  margin: 10px auto;
}

.dropdownItem img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownMenu ul li {
  color: var(--colorLetras);
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
  cursor: pointer;
  transition: text-shadow 0.3s, font-size 0.3s, margin-inline 0.3s;
}

.dropdownMenu ul li a span {
  margin-left: 10px;
}

.dropdownItem span {
  max-width: 150px;
  margin-left: 10px;
  transition: var(--speed);
}

.dropdownItem ul li a span {
  max-width: 150px;
  margin-left: 10px;
  transition: var(--speed);
}
.dropdownItem:hover {
  text-shadow: 0 0 5px rgba(255, 0, 0, 1);
  cursor: pointer;
}

@media (max-width: 800px) {
  .header {
    background-color: var(--headerFondo);
    transition: background-color 0.5s ease;
    height: 80px;
  }
}
